body{
    margin-left: 300px;
}
img{
    border-radius: 200%;
}
div#d2 {
    width: 300px;
    border: 4px solid black;
    padding: 20px;
    margin: 20px;
}
div#d3 {
width: 300px;
border: 4px solid black;
padding: 20px;
margin: 20px;
}
div#d1 {
    margin-left:10px;

}
.photo{
    padding:50px;
}
body{
    background-image: url("images/istockphoto-1353553203-170667a.jpg");
}